<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Login Page</title>
</head>
<body class="text-center">

<div class="container h-100">
    <br><br><br><br><br><br><br>
    <div class="row justify-content-md-center h-100">
        <div class="col-4">
            <form method="POST" action="/login" class="needs-validation">

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputLogin" class="sr-only">Login</label>
                <input name="username" type="text" id="inputLogin" class="form-control" placeholder="Login" required=""
                       autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                       required="">
                <br><br>

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2023</p>
            </form>
            <div class="card-footer py-3 border-0">
                <div class="text-center">
                    Don't have an account? <a href="register" class="text-dark">Create One</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

